{% include 'header.html' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-7 text-center my-5">
            <h1>If you like podcasts, check out my shows!</h1>
            
                <ul>
                <li><a href="https://open.spotify.com/show/135hotdzALiIZMSyzPM7T5?si=mmgjHp_nRom_EdBd1bq43Q">Digital Delights Podcast</a></li>
                <li><a href="https://www.youtube.com/watch?v=nkQAKoY_3Zw&list=PLpvUrnYYIYq_ej9DDzWmsM4ePyZk9fLzY">Fable's Cove Podcast</a></li>
                </ul>

                <body>
                    See, my entire life at the moment revolves around designing game concepts,
                    and recording podcasts all about game design theory. So, instead of making
                    a personality page, I found it only fitting to make a page dedicated to my
                    love for podcasting. Come check out me and my cohost Joe design a different 
                    game every week on Digital Delights. Or, come and watch me interview figures 
                    in the game design, narrative, and fantastical realms of D&D at Fable's Cove! :)
                </body>
        </div>
    </div>
</div>

{% include 'footer.html' %}